<div class="card-container">
  <div class="card-info">
    <div class="card-info-day">
      <h4>LAST 30 DAY</h4>
    </div>
    <div class="show-cards">
      <span>+</span>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-date">09/03/2022</h5>
    <div class="card-content">
      <p>open: <span>R$5.0666</span></p>
      <p>hight: <span>R$5.0666</span></p>
      <p>close: <span>R$5.0666</span></p>
      <p>low: <span>R$5.0666</span></p>
    </div>
    <div class="close-dif">
      <p>CLOSE DIF(%): <span>-1.15%</span></p>
    </div>
  </div>
</div>
